{% extends 'base.html' %}
{% load bootstrap4 static %}

{% block title %}Страница не найдена{% endblock %}

{% block navitems %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">Пожаловаться <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">О сервисе <span class="sr-only">(current)</span></a>
  </li>
</ul>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <img src="{% static 'images/full-ready-nobg30.png' %}" alt="Раздраженный водитель" class="mt-3">
            <h4 class="text-center my-5">Страница не найдена!</h4>
        </div>
    </div>


{% endblock %}
