{% extends 'base.html' %}
{% load bootstrap4 static i18n %}

{% block title %}О Сервисе пожаловаться на автохама{% endblock %}
{% block description %}О сервисе "Пожаловаться на автохама". Документация и FAQ.{% endblock %}

{% block navitems %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">{% translate 'Grievance' %} <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/about">{% translate 'About' %} <span class="sr-only">(current)</span></a>
  </li>
</ul>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-6 offset-md-3">
    <img src="{% static 'images/full-web-nobg.png' %}" alt="Раздраженный водитель" style="width: 100%; text-align: center;">
    <p>
        Немалую часть времени мы проводим в дороге, стоя в пробке. Все мы спешим, кто на работу, кто домой,
        кто куда. Само собой, мы бы хотели двигаться быстрее, но есть ряд непреодолимых обстоятельств, как то
        узкая дорога, количество машин.. Нельзя просто взять и объехать впередистоящих, т.к. это будет
        нечестно по отношению к ним. Но всегда находятся те, кому наплевать на справедливость.
    </p>
    <p>
        Или вот едешь ты как обычно в пробке, и вдруг тебя кто-то подрезал, или не уступил дорогу, когда
        надо было. Все эти случаи воздействуют на тебя в первую очередь морально, и зачастую требуется
        несколько часов, чтобы прийти в себя.
    </p>
    <p>
        Иногда в такой ситуации хочется указать автохаму на его ошибку. Обычно это делается в виде
        длительного гудка и отборных слов. Хуже, когда один водитель идет объяснять другому, в чем тот
        неправ. Ни до чего хорошего это не доводит.
    </p>
    <p>
        Наверняка, у вас возникал вопрос, <b>куда пожаловаться на водителя</b>? Нам известно, что существуют
        официальные (гибдд) и другие сервисы, предоствляющие такую возможность. На наш взгляд, они
        неудобные и требуют времени, чтобы разобраться. А <b>пожаваловаться на водителя</b> хочется прямо
        сейчас, пока эмоции не утихли! Для этого и был создан этот удобный сервис.
    </p>
    <p>
        Сервис позволяет <b>пожаловаться на водителя машины</b> одной рукой. Другой вы можете продолжать
        держать руль. Во-первых, вы получите моральное удовлетворение :). А во-вторых, с помощью этого
        сервиса каждый водитель может проверить свой номер и узнать свои ошибки, чтобы не допускать их в дальнейшем!
    </p>
    <h2>FAQ. Часто задаваемые вопросы</h2>
    <p>
        <b>Что главное в сервисе?</b><br>
        Главное - это форма на главной странице, которая позволяет мгновенно <b>пожаловаться на автомобилиста</b>.
    </p>
    <p>
        <b>Нужно ли заполнять информацию о себе? Телефон или email?</b><br>
        Нет. Сервис является полностью анонимным.
    </p>
    <p>
        <b>Автомобильные номера каких стран поддерживаются?</b><br>
        России, Армении, Беларуси и Украины.
    </p>
</div>
</div>
{% endblock %}
