{% extends 'base.html' %}
{% load bootstrap4 static i18n %}

{% block navitems %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">{% translate 'Grievance' %} <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/about">{% translate 'About' %} <span class="sr-only">(current)</span></a>
  </li>
</ul>
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-md-6 offset-md-3">
        <img src="{% static 'images/full-web-nobg.png' %}" style="width: 100%; text-align: center;">
        <p>
            Немалую часть времени мы проводим в дороге, стоя в пробке. Все мы спешим, кто на работу, кто домой,
            кто куда. Само собой, мы бы хотели двигаться быстрее, но есть ряд непреодолимых обстоятельств, как то
            узкая дорога, количество машин.. Нельзя просто взять и объехать впередистоящих, т.к. это будет
            нечестно по отношению к ним. Но всегда находятся те, кому наплевать на справедливость.
        </p>
        <p>
            Или вот едешь ты как обычно в пробке, и вдруг тебя кто-то подрезал, или не уступил дорогу, когда
            надо было. Все эти случаи воздействуют на тебя в первую очередь морально, и зачастую требуется
            несколько часов, чтобы прийти в себя.
        </p>
        <p>
            Данный сервис позволяет пожаловаться на такого водителя в два клика. Что это даст? Ну во-первых,
            моральное удовлетворение :). А во-вторых, с помощью этого сервиса каждый водитель может проверить
            свой номер и узнать свои ошибки, чтобы не допускать их в дальнейшем!
        </p>
    </div>
    </div>
{% endblock %}
