{% extends 'base.html' %}
{% load bootstrap4 static i18n %}


{% block navitems %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">{% translate 'Grievance' %} <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">{% translate 'About' %} <span class="sr-only">(current)</span></a>
  </li>
</ul>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if plate %}
                <p class="my-3">{% translate 'License Plate' %}: <img src="static/images/{{ plate.country|lower }}-flag-icon-32.png"> {{ plate.name|upper }}</p>
                <p>{% translate 'Records' %}:</p>
                {% for grievance in plate.grievance_set.all %}
                    <p>
                        {% translate 'Date' %}: {{ grievance.created }} {% translate 'Level' %}: {{ grievance.level }}
                        <br>
                        {% translate 'Description' %}: {{ grievance.description }}
                    </p>
                {% endfor %}
            {% else %}
                <h4 class="text-center my-5">{% translate 'License Plate not found' %}</h4>
            {% endif %}
        </div>
    </div>


{% endblock %}
