{% extends 'base.html' %}
{% load bootstrap4 static %}

{% block title %}Найти автохама{% endblock %}
{% block extrahead %}
    <!-- Event snippet for Website traffic conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-962435887/M8EWCN2lx_QBEK-29soD'});
    </script>
{% endblock %}

{% block navitems %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">Пожаловаться <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">О сервисе <span class="sr-only">(current)</span></a>
  </li>
</ul>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if plate %}
                <p class="my-3">Автомобильный номер: <img src="static/images/{{ plate.country|lower }}-flag-icon-32.png"> {{ plate.name|upper }}</p>
                <p>Найдено:</p>
                {% for grievance in plate.grievance_set.all %}
                    <p>
                        Дата: {{ grievance.created }} Недовольство: {{ grievance.level }}
                        <br>
                        Описание: {{ grievance.description }}
                    </p>
                {% endfor %}
            {% else %}
                <h4 class="text-center my-5">Автомобильный номер не найден</h4>
            {% endif %}
        </div>
    </div>


{% endblock %}
